
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"

  
}
*,*:before,*:after{
    box-sizing:inherit
}

html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0;
   
}
.history {
    width: 100%;
    padding-left: 10px;
    height:400px;
}
#text {
    width : 50%;
    resize : none;
    border : 1px solid #634aa5;
    border-radius: 6px;
    outline : none;
    padding : 8px;
    padding-top: 10px;
}

#submit {
    width : 60%;
    height : 32px;
    border-radius: 50px;
    border : none;
    margin-top : 12px;
    text-transform: uppercase;
    background-color: #634aa5;
    color : white;
}
#footer{
    max-width: 1140px;
    background-color: #634aa5;

}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}
summary{
    display:list-item
}
audio,canvas,progress,video{
    display:inline-block
}
progress{
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    text-decoration:none;
    background-color:transparent
}
a:active,a:hover{
    outline-width:0
}
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}
b,strong{
    font-weight:bolder
}
dfn{
    font-style:italic
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-0.25em
}
sup{
    top:-0.5em
}
figure{
    margin:1em 40px
}
img{
    border-style:none
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
button,input,select,textarea,optgroup{
    font:inherit;
    margin:0
}
optgroup{
    font-weight:bold
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
button,[type=button],[type=reset],[type=submit]{
    -webkit-appearance:button
}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
    border-style:none;
    padding:0
}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
    outline:1px dotted ButtonText
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
textarea{
    overflow:auto
}
[type=checkbox],[type=radio]{
    padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
/* End extract */
html,body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5
}
html{
    overflow-x:hidden
}
h1{
    font-size:36px
}
h2{
    font-size:30px
}
h3{
    font-size:24px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}
.chs-serif{
    font-family:serif
}
h1,h2,h3,h4,h5,h6{
    /*font-family:"Roboto","Segoe UI",sans-serif;*/
    font-weight:300;
    margin:10px 0
}
.chs-wide{
    letter-spacing:4px
}
hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}
.chs-image{
    max-width:100%;
    height:auto
}
img{
    vertical-align:middle
}
a{
    color:inherit
}
.chs-table,.chs-table-all{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table
}
.chs-table-all{
    border:1px solid #ccc
}
.chs-bordered tr,.chs-table-all tr{
    border-bottom:1px solid #ddd
}
.chs-striped tbody tr:nth-child(even){
    background-color:#f1f1f1
}
.chs-table-all tr:nth-child(odd){
    background-color:#fff
}
.chs-table-all tr:nth-child(even){
    background-color:#f1f1f1
}
.chs-hoverable tbody tr:hover,.chs-ul.chs-hoverable li:hover{
    background-color:#ccc
}
.chs-centered tr th,.chs-centered tr td{
    text-align:cente
}
.chs-table td,.chs-table th,.chs-table-all td,.chs-table-all th{
    padding:8px;
    display:table-cell;
    text-align:left;
    vertical-align:top
}
.chs-table th:first-child,.chs-table td:first-child,.chs-table-all th:first-child,.chs-table-all td:first-child{
    padding-left:16px
}
.chs-btn,.chs-button{
    border:none;
    display:inline-block;
    padding: 8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:#634aa5;
    color: #fff;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.chs-btn:hover{
    box-shadow:0 0 16px rgba(51, 204, 255, .7)
}
.chs-btn,.chs-button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.chs-disabled,.chs-btn:disabled,.chs-button:disabled{
    cursor:not-allowed;
    opacity:0.3
}
.chs-disabled *,:disabled *{
    pointer-events:none
}
.chs-btn.chs-disabled:hover,.chs-btn:disabled:hover{
    box-shadow:none
}
.chs-badge,.chs-tag{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}
.chs-badge{
    border-radius:50%
}
.chs-ul{
    list-style-type:none;
    padding:0;
    margin:0
}
.chs-ul li{
    padding:8px 16px;
    border-bottom:1px solid #ddd
}
.chs-ul li:last-child{
    border-bottom:none
}
.chs-tooltip,.chs-display-container{
    position:relative
}
.chs-tooltip .chs-text{
    display:none
}
.chs-tooltip:hover .chs-text{
    display:inline-block
}
.chs-ripple:active{
    opacity:0.5
}
.chs-ripple{
    transition:opacity 0s
}
.chs-input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}
.chs-select{
    padding:9px 0;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc
}
.chs-dropdown-click,.chs-dropdown-hover{
    position:relative;
    display:inline-block;
    cursor:pointer
}
.chs-dropdown-hover:hover .chs-dropdown-content{
    display:block
}
.chs-dropdown-hover:first-child,.chs-dropdown-click:hover{
    background-color:#ccc;
    color:#000
}
.chs-dropdown-hover:hover > .chs-button:first-child,.chs-dropdown-click:hover > .chs-button:first-child{
    background-color:#ccc;
    color:#000
}
.chs-dropdown-content{
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1
}
.chs-check,.chs-radio{
    width:24px;
    height:24px;
    position:relative;
    top:6px
}
.chs-sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
}
.chs-bar-block .chs-dropdown-hover,.chs-bar-block .chs-dropdown-click{
    width:100%
}
.chs-bar-block .chs-dropdown-hover .chs-dropdown-content,.chs-bar-block .chs-dropdown-click .chs-dropdown-content{
    min-width:100%
}
.chs-bar-block .chs-dropdown-hover .chs-button,.chs-bar-block .chs-dropdown-click .chs-button{
    width:100%;
    text-align:left;
    padding:8px 16px
}
.chs-main,#main{
    transition:margin-left .4s
}
.chs-modal{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
.chs-modal-content{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:600px
}
.chs-bar{
    width:100%;
    overflow:hidden
}
.chs-center .chs-bar{
    display:inline-block;
    width:auto
}
.chs-bar .chs-bar-item{
    width:auto;
    border:none;
    display:inline-block;
    outline:0;
}
.chs-bar .chs-dropdown-hover,.chs-bar .chs-dropdown-click{
    position:static;
    float:left
}
.chs-bar .chs-button{
    white-space:normal
}
.chs-bar-block .chs-bar-item{
    width:100%;
    display:block;
    padding:16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
.chs-bar-block.chs-center .chs-bar-item{
    text-align:center
}
.chs-block{
    display:block;
    width:100%
}
.chs-responsive{
    display:block;
    overflow-x:auto
}
.chs-container:after,.chs-container:before,.chs-panel:after,.chs-panel:before,.chs-row:after,.chs-row:before,.chs-row-padding:after,.chs-row-padding:before, .chs-cell-row:before,.chs-cell-row:after,.chs-clear:after,.chs-clear:before,.chs-bar:before,.chs-bar:after{
    content:"";
    display:table;
    clear:both
}
.chs-col,.chs-half,.chs-third,.chs-twothird,.chs-threequarter,.chs-quarter{
    float:left;
    width:100%
}
.chs-col.s1{
    width:8.33333%
}
.chs-col.s2{
    width:16.66666%
}
.chs-col.s3{
    width:24.99999%
}
.chs-col.s4{
    width:33.33333%
}
.chs-col.s5{
    width:41.66666%
}
.chs-col.s6{
    width:49.99999%
}
.chs-col.s7{
    width:58.33333%
}
.chs-col.s8{
    width:66.66666%
}
.chs-col.s9{
    width:74.99999%
}
.chs-col.s10{
    width:83.33333%
}
.chs-col.s11{
    width:91.66666%
}
.chs-col.s12{
    width:99.99999%
}
@media (min-width:601px){
    .chs-col.m1{
        width:8.33333%
    }
    .chs-col.m2{
        width:16.66666%
    }
    .chs-col.m3,.chs-quarter{
        width:24.99999%
    }
    .chs-col.m4,.chs-third{
        width:33.33333%
    }
    .chs-col.m5{
        width:41.66666%
    }
    .chs-col.m6,.chs-half{
        width:49.99999%
    }
    .chs-col.m7{
        width:58.33333%
    }
    .chs-col.m8,.chs-twothird{
        width:66.66666%
    }
    .chs-col.m9,.chs-threequarter{
        width:74.99999%
    }
    .chs-col.m10{
        width:83.33333%
    }
    .chs-col.m11{
        width:91.66666%
    }
    .chs-col.m12{
        width:99.99999%
    }
}
@media (min-width:993px){
    .chs-col.l1{
        width:8.33333%
    }
    .chs-col.l2{
        width:16.66666%
    }
    .chs-col.l3{
        width:24.99999%
    }
    .chs-col.l4{
        width:33.33333%
    }
    .chs-col.l5{
        width:41.66666%
    }
    .chs-col.l6{
        width:49.99999%
    }
    .chs-col.l7{
        width:58.33333%
    }
    .chs-col.l8{
        width:66.66666%
    }
    .chs-col.l9{
        width:74.99999%
    }
    .chs-col.l10{
        width:83.33333%
    }
    .chs-col.l11{
        width:91.66666%
    }
    .chs-col.l12{
        width:99.99999%
    }
}
.chs-rest{
    overflow:hidden
}
.chs-stretch{
    margin-left:-16px;
    margin-right:-16px
}
.chs-content,.chs-auto{
    margin-left:auto;
    margin-right:auto;
}
.chs-content{
    max-width:1140px;
    color: #333
}
.chs-auto{
    max-width:1140px
}
.chs-cell-row{
    display:table;
    width:100%
}
.chs-cell{
    display:table-cell
}
.chs-cell-top{
    vertical-align:top
}
.chs-cell-middle{
    vertical-align:middle
}
.chs-cell-bottom{
    vertical-align:bottom
}
.chs-hide{
    display:none!important
}
.chs-show-block,.chs-show{
    display:block!important
}
.chs-show-inline-block{
    display:inline-block!important
}
@media (max-width:1205px){
    .chs-auto{
        max-width:95%
    }
}
@media (max-width:600px){
    .chs-modal-content{
        margin:0 10px;
        width:auto!important
    }
    .chs-modal{
        padding-top:30px
    }
    .chs-dropdown-hover.chs-mobile .chs-dropdown-content,.chs-dropdown-click.chs-mobile .chs-dropdown-content{
        position:relative
    }
    .chs-hide-small{
        display:none!important
    }
    .chs-mobile{
        display:block;
        width:100%!important
    }
    .chs-bar-item.chs-mobile,.chs-dropdown-hover.chs-mobile,.chs-dropdown-click.chs-mobile{
        text-align:center
    }
    .chs-dropdown-hover.chs-mobile,.chs-dropdown-hover.chs-mobile .chs-btn,.chs-dropdown-hover.chs-mobile .chs-button,.chs-dropdown-click.chs-mobile,.chs-dropdown-click.chs-mobile .chs-btn,.chs-dropdown-click.chs-mobile .chs-button{
        width:100%
    }
}
@media (max-width:768px){
    .chs-modal-content{
        width:500px
    }
    .chs-modal{
        padding-top:50px
    }
}
@media (min-width:993px){
    .chs-modal-content{
        width:900px
    }
    .chs-hide-large{
        display:none!important
    }
    .chs-sidebar.chs-collapse{
        display:block!important
    }
}
@media (max-width:992px) and (min-width:601px){
    .chs-hide-medium{
        display:none!important
    }
}
@media (max-width:992px){
    .chs-sidebar.chs-collapse{
        display:none
    }
    .chs-main{
        margin-left:0!important;
        margin-right:0!important
    }
    .chs-auto{
        max-width:100%
    }
}
.chs-top,.chs-bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.chs-top{
    top:0
}
.chs-bottom{
    bottom:0
}
.chs-overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2
}
.chs-display-topleft{
    position:absolute;
    left:0;
    top:0
}
.chs-display-topright{
    position:absolute;
    right:0;
    top:0
}
.chs-display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}
.chs-display-bottomright{
    position:absolute;
    right:0;
    bottom:0
}
.chs-display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}
.chs-display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.chs-display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}
.chs-display-topmiddle{
    position:absolute;
    left:50%;
    top:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
.chs-display-bottommiddle{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
.chs-display-container:hover .chs-display-hover{
    display:block
}
.chs-display-container:hover span.chs-display-hover{
    display:inline-block
}
.chs-display-hover{
    display:none
}
.chs-display-position{
    position:absolute
}
.chs-circle{
    border-radius:50%
}
.chs-round-small{
    border-radius:2px
}
.chs-round,.chs-round-medium{
    border-radius:4px
}
.chs-round-large{
    border-radius:8px
}
.chs-round-xlarge{
    border-radius:16px
}
.chs-round-xxlarge{
    border-radius:32px
}
.chs-row-padding,.chs-row-padding>.chs-half,.chs-row-padding>.chs-third,.chs-row-padding>.chs-twothird,.chs-row-padding>.chs-threequarter,.chs-row-padding>.chs-quarter,.chs-row-padding>.chs-col{
    padding:0 8px
}
.chs-container,.chs-panel{
    padding:0.01em 16px
}
.chs-panel{
    margin-top:16px;
    margin-bottom:16px
}
.chs-code,.chs-codespan{
    font-family:Consolas,"courier new";
    font-size:16px
}
.chs-code{
    width:auto;
    background-color:#fff;
    padding:8px 12px;
    border-left:4px solid #4CAF50;
    word-wrap:break-word
}
.chs-codespan{
    color:crimson;
    background-color:#f1f1f1;
    padding-left:4px;
    padding-right:4px;
    font-size:110%
}
.chs-card,.chs-card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.chs-card-4,.chs-hover-shadow:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.chs-spin{
    animation:chs-spin 2s infinite linear
}
@keyframes chs-spin{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(359deg)
    }
}
.chs-animate-fading{
    animation:fading 10s infinite
}
@keyframes fading{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
.chs-animate-opacity{
    animation:opac 0.8s
}
@keyframes opac{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
.chs-animate-top{
    position:relative;
    animation:animatetop 0.4s
}
@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    }
    to{
        top:0;
        opacity:1
    }
}
.chs-animate-left{
    position:relative;
    animation:animateleft 0.4s
}
@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    }
    to{
        left:0;
        opacity:1
    }
}
.chs-animate-right{
    position:relative;
    animation:animateright 0.4s
}
@keyframes animateright{
    from{
        right:-300px;
        opacity:0
    }
    to{
        right:0;
        opacity:1
    }
}
.chs-animate-bottom{
    position:relative;
    animation:animatebottom 0.4s
}
@keyframes animatebottom{
    from{
        bottom:-300px;
        opacity:0
    }
    to{
        bottom:0;
        opacity:1
    }
}
.chs-animate-zoom {
    animation:animatezoom 0.6s
}
@keyframes animatezoom{
    from{
        transform:scale(0)
    }
    to{
        transform:scale(1)
    }
}

}
a.effect-1{
    color: #eaeaea;
    text-decoration: none;
    cursor: pointer;
    transition: 0.6s ease;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
a.effect-1:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #33ccff;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
a.effect-1:hover:before, a.effect-1:focus:before, a.effect-1:active:before {
    right: 0;
}
a.effect-1:hover{
    color: #fff;
}